:root {
  --red-dark: #e42d14;
  --red-light: #ef6b59;

  font-family: 'Quicksand', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
}

