.footer-container {
    height: 200px;
    display: flex;
    justify-content: space-around;
    border-top: .1em solid black;
}

.footer-items {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.footer-container button {
    font-size: 26px;
    border: none;
    background: none;
    cursor: pointer;
    color: black;
    &:hover {
        color: gray;
    }
}

.footer-link:hover,
.footer-link:active {
    color: inherit !important;
    text-decoration: none !important;
}
