.footer-container {
    height: 250px;
    display: flex;
    justify-content: space-around;
    border-top: .1em solid black;
}

.footer-items {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.footer-container button {
    font-size: 26px;
    border: none;
    background: none;
    cursor: pointer;
    &:hover {
        color: gray;
    }
}