.listing-container {
    margin-bottom: 6em;
}

.listing-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.list-item {
    width: 330px;
    height: 380px;
    border: .1em solid black;
    border-radius: 1em;
    margin: 1em;
}

.list-item img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}