.navbar-container {
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 2px solid black;
    z-index: 1;
}


.navbar-title {
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 90%;
}

.navbar-buttons {
    display: flex;
    align-items: center;
}

.navbar-container button {
    height: 50px;
    padding-inline: 1em;
    background-color: white;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.navbar-container button::before {
    content: '';
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: .2em;
    background-color: var(--red-light);
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.25s ease;
}

.navbar-container button:hover::before {
    transform: scaleX(1);
}

