.profile-info {
    margin-block: 10em;
    display: flex;
}

.info-left {
    width: 50%;
    margin: 2em .5em 2em 2em;
    border-radius: 1em;
    background-color: #e4e4e4;
    display: flex;
    & img {
        border-radius: 1em;
        max-width: 100%; /* Limit the image's maximum width */
        max-height: 100%; /* Limit the image's maximum height */
        object-fit: contain;
    }
}

.info-right {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2em 2em 2em .5em;
    text-align: start;
}

.profile-container h3 {
    margin-left: 10px;
    margin-top: 50px;
    text-align: start;
}