.profile-info {
    margin-block: 8em;
    display: flex;
}

.info-left {
    width: 50%;
    margin: 2em .5em 2em 2em;
    border-radius: 1em;
    background-color: #e4e4e4;
}

.info-left img {
    width: 35%;
}

.profile-logout {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    & button {
        background-color: var(--red-dark);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 8px 10px;
        cursor: pointer;
        &:hover {
            background-color: var(--red-light);
        }
        
    }
}

.info-right {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2em 2em 2em .5em;
    text-align: start;
}

.profile-container h3 {
    margin-left: 10px;
    margin-top: 50px;
    text-align: start;
}