.search-bar-container {
    margin: .6em;
    margin-block: 1em;
    display: flex;
}

.search-bar {
    position: relative;
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid black;
}

.search-bar-icon {
    left: 0;
}